.center {
    text-align: center;
    list-style-position: inside;
}

.font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    background-color: red;
}

.joke {
    background-color: darkmagenta;
    color: aqua;
}

.return {
    color: white;
    font-weight: 600;
    background-color: green;
}

.head2 {
    color: blue;
    background-color: yellow;
}

.pics {
    text-align: center;
}